.author {
	display: flex;

	&__left-panel {
		position: fixed;
		top: 0;
		left: 0;

		width: 280px;
		max-height: 100vh;
		overflow: hidden auto;

		/* width */
		&::-webkit-scrollbar {
			width: 14px;
		}
		/* Track */
		&::-webkit-scrollbar-track {
			background: var(--dark);
		}
		/* Handle */
		&::-webkit-scrollbar-thumb {
			border: 4px solid var(--dark);
			background-clip: padding-box;
			border-radius: 9999px;
			background-color: #ccc;
		}
	}

	&__right-panel {
		margin-left: 280px;
		flex: 1 0 0;
	}
}
